body {
	background-color: #a8383b;
}



.fuck {
	font-family:avenir;
	font-size:40px;
	color:#ffaaaa;
	letter-spacing: 4px;
	text-align:left;
	position:fixed;
	margin-left: 25%;
	margin-top: 10%;
}



a:visited {
	color: #790202;
}

a:link {
	color: #380000;
}

a:hover {
	color:#FFF4F4;
}

a:link {
    text-decoration: none;
}