body {
	background-color: #a8383b;
}



.cry {
	font-family:avenir;
	font-size:20px;
	color:#ffaaaa;
	letter-spacing: 5px;
	text-align:center;
	line-height: 70px;
	position:fixed;
	margin-top: 15%;
	margin-left:10%;
}

.for {
	font-family:avenir;
	font-size:20px;
	color:#ffaaaa;
	letter-spacing: 5px;
	text-align:center;
	line-height: 70px;
	position:fixed;
	margin-top: 10%;
	margin-left:50%;
}


.yourself {
	font-family:avenir;
	font-size:150px;
	color:#ffaaaa;
	letter-spacing: 40px;
	text-align:center;
	line-height: 70px;
	position:fixed;
	margin-top: 40%;
	margin-left:40%;
}


a:visited {
	color: #790202;
}

a:link {
	color: #380000;
}

a:hover {
	color:#FFF4F4;
}

a:link {
    text-decoration: none;
}