body {
	background-color: #a8383b;
}



.cry {
	font-family:avenir;
	font-size:20px;
	color:#ffaaaa;
	letter-spacing: 2px;
	text-align:left;
	position:fixed;
	margin-top: 10%;
	margin-left:10%;
}


.andcry {
	font-family:avenir;
	font-size:45px;
	color:#ffaaaa;
	letter-spacing: 2px;
	text-align:left;
	position:fixed;
	margin-top: 12%;
	margin-left:15%;
}



a:visited {
	color: #790202;
}

a:link {
	color: #380000;
}

a:hover {
	color:#FFF4F4;
}

a:link {
    text-decoration: none;
}