.navigation {
	font-family:sans-serif;
	font-size:14px;
	color:#F96ADA;
	letter-spacing: 4px;
	text-align:center;
	position:fixed;
	margin-left: 80%;
}

a:visited {
	color: #F96ADA;
}

a:link {
	color: #F96ADA;
}

a:hover {
	color:#A377F0;
}






.boxone {
	margin-top:200px;
	display:block;
	position:fixed;
	float:right;
	margin-left:20px;
	border:2px solid #893FD4;
}

.boxtwo {
	margin-top:230px;
	display:block;
	position:fixed;
	float:right;
	margin-left:50px;
	border:2px solid #503FD4;
}

.boxthree {
	margin-top:260px;
	display:block;
	position:fixed;
	float:right;
	margin-left:80px;
	border:2px solid #3F5BD4;
}

.boxfour {
	margin-top:290px;
	display:block;
	position:fixed;
	float:right;
	margin-left:130px;
	border:2px solid #3F99D4;
}


.boxfive {
	margin-top:400px;
	display:block;
	position:fixed;
	float:right;
	margin-left:400px;
	border:2px solid #3FC8D4;
}

.boxsix {
	margin-top:430px;
	display:block;
	position:fixed;
	float:right;
	margin-left:430px;
	border:2px solid #3FD4AC;
}

.boxseven {
	margin-top:460px;
	display:block;
	position:fixed;
	float:right;
	margin-left:470px;
	border:2px solid #3FD47D;
}

.boxeight {
	margin-top:490px;
	display:block;
	position:fixed;
	float:right;
	margin-left:500px;
	border:2px solid #3FD44E;
}

.boxnine {
	margin-top:700px;
	display:block;
	position:fixed;
	float:right;
	margin-left:770px;
	border:2px solid #4DD43F;
}


.boxten {
	margin-top:730px;
	display:block;
	position:fixed;
	float:right;
	margin-left:800px;
	border:2px solid #89D43F;
}

.boxeleven {
	margin-top:760px;
	display:block;
	position:fixed;
	float:right;
	margin-left:840px;
	border:2px solid #B0D43F;
}

.boxtwelve {
	margin-top:790px;
	display:block;
	position:fixed;
	float:right;
	margin-left:890px;
	border:2px solid #D4D43F;
}

.boxthirteen {
	margin-top:1000px;
	display:block;
	position:fixed;
	float:right;
	margin-left:1160px;
	border:2px solid #E8E835;
}

.boxfourteen {
	margin-top:1030px;
	display:block;
	position:fixed;
	float:right;
	margin-left:1190px;
	border:2px solid #E8AF35;
}

.boxfifteen {
	margin-top:1060px;
	display:block;
	position:fixed;
	float:right;
	margin-left:1230px;
	border:2px solid #F18728;
}

.boxsixteen {
	margin-top:1090px;
	display:block;
	position:fixed;
	float:right;
	margin-left:1270px;
	border:2px solid #F14828;
}