


body {margin:0;
	padding:0;
	background-color:#FFF;
	background-image:url("images/bg.png");
	font-family:avenir;}

.wrapper { 
	background-color:#FFF; 
	width:800px;
	display:block;
	margin:0 auto;}


.column {
	column-count:2;
}

.button {
	background-color:#FFF;
	border:1px solid #4E3C63;
	padding:15px;
	color:#4E3C63;
	margin:10px;
	font-family: georgia;
	font-style:italic;
	font-weight:bold;
}	

.top {
	font-style:italic;
	font-family:georgia;
	font-size:20px;
}

h1{
	text-align:center;
	font-family:impact;
	font-size:100px;
	color:#4E3C63;
	line-height:80%;
	letter-spacing: 2px;
}



h2 {
	text-align:center;
	text-transform:uppercase;
	font-family:impact;
	font-size:35px;
	color:#4E3C63;
	letter-spacing: 1px;

}

p { text-align:justify;
	width:728px;
	display:block;
	margin:0 auto;
	padding:5px;

}

ul {
	text-align:left;
	width:728px;
	display:block;
	margin:0 auto;
	column-count:2;}

img {
	display:block;
	margin:0 auto;
	padding:20px;
}